			<div class="container">
				<div class="row align-items-center justify-content-md-between py-4 mt-4 delimiter-top">
					<div class="col-md-6">
						<div class="copyright text-sm font-weight-bold text-center text-md-left">
							<small><strong>{{@TRANSLATE.copyright}} <i class="far fa-copyright"></i> 2018 - {{@anoAtual}} - <a href="{{@site.url}}{{@TRANSLATE.default}}" class="font-weight-bold text-info" target="_blank" data-toggle="tooltip" data-original-title="{{@nameApp}} &ndash; {{@tagLine}}">{{@nameApp}} &ndash; {{@tagLine}}</a> - {{@TRANSLATE.copyrightText}}</strong></small>
						</div>
					</div>
					<div class="col-md-6">
						<div class="copyright text-sm font-weight-bold text-right text-md-right">
							<small><strong>{{@TRANSLATE.copyrightPoweredDashboard}} <i class="fa fa-heart text-danger"></i> por <a href="{{@urlCMSGenezzis}}" target="_blank" class="text-semibold text-primary"><img src="{{@urlCDN}}front/img/brand/logoGENEZZISfundoClaro.png" title="{{@PACKAGE}}" align='center' alt='{{@PACKAGE}}' style="height: 40px;"></a></strong></small>
						</div>
					</div>
				</div><!--./row-->
			</div><!--./container-->
