			<div class="container">
				<div class="row align-items-center justify-content-md-between py-4 mt-4 delimiter-top">
					<div class="col-md-6">
						<div class="copyright text-sm font-weight-bold text-center text-md-left">
							<small>{{@TRANSLATE.copyright}} <i class="far fa-copyright"></i> {{@anoAtual}} - <a href="{{@urlPrincipal}}" class="font-weight-bold" target="_blank" data-toggle="tooltip" data-original-title="{{@nameApp}} &ndash; {{@tagLine}}">{{@nameApp}} &ndash; {{@tagLine}}</a> &ndash; {{@TRANSLATE.copyrightText}}</small>
						</div>
					</div>
					<div class="col-md-6">
						<div class="copyright text-sm font-weight-bold text-right text-md-right">
							<small><strong>{{@TRANSLATE.copyrightPoweredDashboard}} <i class="fa fa-heart text-danger"></i> por <a href="https://github.com/CSR4mos" title="Cristiano Ramos - Programador - Freelancer" target="_blank" class="text-semibold text-white">Cristiano Ramos</a> utilizando <a href="https://genezzis.com" title="Genezzis CMS by Cristiano Ramos">Genezzis CMS</a></strong></small>
						</div>
					</div>
				</div><!--./row-->
			</div><!--./container-->
