		<header class="header-transparent" id="header-main">
			<!-- Search -->

			<!-- Topbar -->
			<div id="navbar-top-main" class="navbar-top  navbar-light bg-white border-bottom">
				<div class="container">
					<div class="navbar-nav align-items-center">
						<div class="d-none d-lg-inline-block">
							<span class="navbar-text mr-3">Mantenha a sua base de clientes atualizada, consulte a situação cadastral de qualquer CNPJ na RFB</span>
						</div>
						<div>
													</div>
					</div>
				</div>
			</div>


			<!-- Main navbar -->

			<nav class="navbar navbar-main navbar-expand-lg navbar-sticky navbar-light bg-white" id="navbar-main">
				<div class="container">
					<a class="navbar-brand mr-lg-5" href="{{@site.url}}">
						<img alt="Image placeholder" src="{{@urlCDN}}front/img/brand/logo_CNPJ.png" style="height: 72px;"> {{@nameApp}}
					</a>
				</div>
			</nav>
		</header>
