				<section class="content">
					<div class="cls-content text-center">
						<h1 class="error-code text-warning"><i class="fas fa-bars"></i><i class="far fa-registered"></i><i class="far fa-registered"></i><i class="fa fa-ban"></i> <a class="text-warning text-bold">4</a><i class="far fa-frown"></i><a class="text-warning text-bold">4</a></h1>
						<div class="">
							<h3 class="text-warning"><i class="far fa-frown"></i> {{@TRANSLATE.404TextH2}}</h3>
							<p class="h4 text-thin pad-btm mar-btm text-info">
								{{@TRANSLATE.404TextParagraph}}<br>
								<strong>{{@slug}}</strong> <br>
								{{@TRANSLATE.404TextParagraph1}}<br>
								{{@TRANSLATE.404TextParagraph2}}<br>
								{{@TRANSLATE.404TextParagraph3}}
							</p>
							<br>
							<h5 class="">
								<i class="fa fa-undo"></i><a href="javascript:history.go(-1)" title="{{@TRANSLATE.404BtnBackPagePlaceholder}}"> {{@TRANSLATE.404BtnBackPage}}</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
								<i class="fa fa-home"></i><a href="{{@site.url}}" title="{{@TRANSLATE.404BtnBackHomePlaceholder}}"> Home</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
								<i class="fa fa-sitemap"></i><a href="{{@site.url}}sitemap" title="{{@TRANSLATE.404BtnBackSitemapPlaceholder}}"> {{@TRANSLATE.404BtnBackSitemap}}</a>
							</h5>
							<div class="col-md-4 text-center">
								<h1><i class="fab fa-html5 text-danger"></i></h1>
								<label><a class="text-danger text-semibold" target="_blank" href="{{@urlProduto1}}"> {{@TRANSLATE.404TitleProductOne}}</a></label><br>
								<p class="text-left">
									{{@TRANSLATE.404TextProductOne}}
									{{@TRANSLATE.404TextProductOne}}
									{{@TRANSLATE.404TextProductOne}}
								</p>
								<p class="text-center">
									<a href="{{@urlProduto1}}" target="_blank" title="{{@TRANSLATE.404BtnProduct}}" class="btn btn-xs btn-success"> {{@TRANSLATE.404BtnProduct}}</a>
								</p>
							</div>
							<div class="col-md-4 text-center">
								<h1><i class="fa fa-shopping-cart text-danger"></i></h1>
								<label><a class="text-danger text-semibold" target="_blank" href="{{@urlProduto2}}"> {{@TRANSLATE.404TitleProductTwo}}</a></label><br>
								<p class="text-left">
									{{@TRANSLATE.404TextProductTwo}}
									{{@TRANSLATE.404TextProductTwo}}
									{{@TRANSLATE.404TextProductTwo}}
								</p>
								<p class="text-center">
									<a href="{{@urlProduto2}}" target="_blank" title="{{@TRANSLATE.404BtnProduct}}" class="btn btn-xs btn-success"> {{@TRANSLATE.404BtnProduct}}</a>
								</p>
							</div>
							<div class="col-md-4 text-center">
								<h1><i class="fas fa-file-signature text-danger"></i></h1>
								<label><a class="text-danger text-semibold" target="_blank" href="{{@urlProduto3}}"> {{@TRANSLATE.404TitleProductTree}}</a></label><br>
								<p class="text-left">
									{{@TRANSLATE.404TextProductTree}}
									{{@TRANSLATE.404TextProductTree}}
									{{@TRANSLATE.404TextProductTree}}
								</p>
								<p class="text-center">
									<a href="{{@urlProduto3}}" target="_blank" title="{{@TRANSLATE.404BtnProduct}}" class="btn btn-xs btn-success"> {{@TRANSLATE.404BtnProduct}}</a>
								</p>
							</div><!--/.col-md-3-->
						</div><!-- /.error-content -->
					</div><!-- /.error-page -->
					<footer id="footer" class="text-center">
						<include href="errors/layout/footer.html" />
					</footer>
				</section><!--/.section-->
