				<section class="content">
					<div class="cls-content text-center">
						<h1 class="error-code text-warning"><i class="fas fa-bars"></i><i class="far fa-registered"></i><i class="far fa-registered"></i><i class="fa fa-ban"></i> <a class="text-warning text-bold">4</a><i class="far fa-frown"></i><a class="text-warning text-bold">3</a></h1>
						<div class="">
							<h3 class="text-warning"><i class="far fa-frown"></i> {{@TRANSLATE.403TextH2}}</h3>
							<p class="h4 text-thin pad-btm mar-btm text-info">
								{{@TRANSLATE.403TextParagraph}}<br>
								O IP : <strong>{{@IP}}</strong> {{@TRANSLATE.403TextParagraph1}}<br>
								{{@TRANSLATE.403TextParagraph2}}<br>
								{{@TRANSLATE.403TextParagraph3}}
							</p>
						</div><!-- /.error-content -->
					</div><!-- /.error-page -->
				</section><!--/.section-->
